article{
    background: khaki;
    margin-left: 30px;
    color: black;
}
/* 
para elementos hermanos
inmediatamente despues del indicado

elemento + elementoAplicar{

}

 */

 p+p{
     color: gray;
     text-indent: 30px;
 }