article{
    background: khaki;
    font-size: 12px;
}

div{
    background: green;
    margin: 7%;
    height: 400px;
    text-align: center;
    color: white;
    font-size: 3em;
}

p{
    padding-top: 40px;
    text-align: center;
}
