article{
    background:khaki;
    font-size: 12px;
}

div{
    background: #000f23;
    margin: 7%;
    height: 400px;
    text-align: center;
    color: white;
    font-size: 3em;
}

p{
    padding-top: 40px;
    text-align: left;
    letter-spacing: -2px;
    word-spacing: 10px;
}