article{
    background: khaki;
    font-size: 12px;
}

div{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    background: green;
}

/* desenfoque */
.main-img{
    /* -webkit-filter: contrast(-2); */
    /* -webkit-filter: grayscale(100%); */
    -webkit-filter: sepia(80%);
}

