article{
    background: khaki;
    margin-left: 30px;
}

.azul{
    color: blue;
}
.verde{
    color: darkgreen;
}
.letra_grande{
    font-size: 30px;
}
#rojo{
    color:darkred;
}

p[class]{
    text-decoration: underline;
}
h2[title="primer ejemplo de h2"]{
    color:darkred;
}
p[class~="letra_grande"]{
    text-decoration: none;
}
a[lang|="es"]{
    font-style: italic;
}
/* 
[nombre_atributo] 
[nombre_atributo=valor]
[nombre_atributo~=valor]
[nombre_atributo|=valor]
lang=es-ES es-AR es-PE es-MX
*/