div{
    background: khaki;
    font-size: 12px;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
}

article{
    height: 100px;
    border: 3px solid black;
}
article:nth-of-type(1){
    background: green;
    -webkit-flex:3;
    -webkit-order:2;
}
article:nth-of-type(2){
    background: red;
    -webkit-flex:2;
    -webkit-order:3;
}
article:nth-of-type(3){
    background: yellow;
    -webkit-flex:1;
    -webkit-order:1;
}