article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 75%;
    margin: 7%;
    height: 200px;
    border: 10px solid transparent;
    padding: 20px;
    background:url(../styles/images/RGB_illumination.jpg);
    background-origin: padding-box;
}