article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 80%;
    margin: 7%;
    height: 200px;
    display: inline-block;
    background-color: green;

    border-radius: 20px;
    border-top-left-radius: 90px;

}