article{
    background: khaki;
    font-size: 50px;
}

/* 
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(./images/mail.png) 20% round;
*/

div {
    width: 80%;
    margin:7%;
    height: 200px;
    display:inline-block;
    background: green;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(./images/RGB_illumination.jpg) 20 stretch;
  }
  
  #borderimg2 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(./images/snapchat.png) 20% round;
  }
  
  #borderimg3 {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(./images/twitter.png) 30% round;
  }