article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 80%;
    margin:7%;
    height: 200px;
    display:inline-block;
    background-color: green;

    border-width: 4px;
    /* border-style: solid dashed dotted double; */

    border-top-style: solid;
}