article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 75%;
    margin: 7%;
    height: 200px;
    background:white;
    /* box-shadow: -20px -15px 0px black; */
    text-align: center;
}

p{
    font-size: 4em;
    color: white;
    padding-top: 40px;
    text-shadow: 0px 0px 10px #07190b;
    /* brillo para las letras */
}


/* 
    box-shadow: Xpx Ypx Dpx color;
*/