article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 75%;
    margin: 7%;
    height: 200px;
    /* border: 10px solid black; */

    background: -webkit-radial-gradient(
        left ,ellipse,
        black 0%,red 30%,
        rgba(0,0,255,0),khaki 100%
    );
}