article{
    background: khaki;
    margin-left: 30px;
    color: black;
}
header{
    font-size: 30px;
}

#naranja{
    color:orange;
}
h1{
    color: blue;
}
.verde{
    color: green !important;
}
.red{
    color: red !important;
}

/* 
    css navegador
    css perfil de usuario
    css desarrollador
    propiedades que el elemento hereda
    propiedades propias del elemento
    carga una a una las clases segun estan nombradas
    carga
    el id

    **!important se impone a elementos de mas peso jerarquico

*/