article{
    background: khaki;
    font-size: 12px;
}

div{
    margin: 10px;
}

p{
    border: 1px solid black;
    background-color: orange;

    width: 150px;
    height: 40px;

    /* Dimensiones */
    /* min-width: 200px;
    max-width: 500px; */

    /* padding */
    padding: 10px;

    /* margin */
    margin: 10px 0px 40px 10px;
    display: inline-block;
}