article{
    background: khaki;
    font-size: 12px;
}
div.padre{
    height: 1500px;
    width: 200px;
    border: 3px solid black;
    background: white;
    margin:20px;
    overflow: hidden;
}
div.hijo{
    height: 80px;
    width: 80px;
    border: 3px solid red;
    background: orange;
    position: absolute;
    opacity: 0.7;
    z-index: 99;
}

div.hijo2{
    height: 110px;
    width: 110px;
    border: 3px solid blue;
    background: green;
    position: relative;
}
