article{
    background: khaki;
    font-size: 30px;
}

div{
    margin: 10px;
}
p{
    border: 1px solid black;
    background-color: orange;
    display: block;
    margin: 20px 0px;
}

p:nth-of-type(2){
    display: none;
}

/* 
    display:inline
    display:inline-block
*/