article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 75%;
    margin: 7%;
    height: 200px;
    background: #088a4b;
    text-align: center;
}

p{
    font-size: 4em;
    font-weight: bolder;
    color: white;
    padding-top: 40px;
    text-shadow: 1px 1px 0px #585858,
                 2px 2px 0px #585858,
                 3px 3px 0px #585858,
                 4px 4px 0px #585858,
                 5px 5px 0px #585858;
}