/* tipos de selectores */
p.alerta{
    color:darkred;
}
.letragrande{
    font-size: 30px;
}
#amarillo{
    width: 200px;
    height: 200px;
    background: yellow;
    margin: 20px;
    border: 1px solid black
}