article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 75%;
    margin: 7%;
    height: 400px;
    background: #088a4b;
    text-align: center;
    color: white;
    font-size: 3em;
}
.p1{
    padding-top: 40px;
    font-style: normal;
}

.p2{
    font-style: italic;
}

.p3{
    font-style: oblique;
}