@font-face{
    font-family: "Irlandesa";
    src: url("./Irlandesa.ttf");
    /* src: local('?'),url("../fonts/irlandesa.woff") format("woff"),
                    url("../fonts/irlandesa.ttf") format("truetype");
} */
}
article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 75%;
    margin: 7%;
    height: 200px;
    border: 10px solid black;
    background-color: green;
    text-align: center;
}
p{
    font-size: 3em;
    color: white;
    padding-top: 40px;
    font-family: 'Pacifico', cursive;
}