article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 75%;
    margin: 7%;
    height: 1200px;
    background: #088a4b;
    text-align: center;
    font-size: 3em;
}
p{
    color: white;
    padding-top: 40px;
    font-family: 'Pacifico', cursive;
}
p.grande{
    font-size: 36px;
}
div div p{
    font-size: 1.5rem;
}