article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 75%;
    margin: 7%;
    height: 1200px;
    background: #088a4b;
    text-align: center;
    font-size: 3em;
}
p{
    padding-top:40px ;
    font-weight: 200;
    font-family: 'Pacifico';
    color: white;
}
p.grande{
    font-weight: bolder;
}
