.Header {
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:blue;
    font-size: 150px;
    margin: auto;
    width: 80%;
    height: 100px;
    padding: 50px;
    border-radius: 20px;
  }