article {
    background: khaki;
    margin-left: 30px;
    color: black;
}

div~p {
    color: darkred;
}

/* 
    elemento1~elemento2

tienen que ser hermanos
elemento1 sea hermano mayor de elemento2
sin importat que sea consecutivo
*/