article{
    background:khaki;
    font-size: 12px;
}

div{
    width: 75%;
    margin: 7%;
    height: 200px;
    border: 10px solid black;
    background-color: green;
    background-image:url(./images/firma.png), url(../styles/images/RGB_illumination.jpg);
    background-repeat: no-repeat,repeat;
    background-position: right bottom,center center;

}