div{
    background: khaki;
    font-size: 12px;
    margin: 10px;
}

div *{
    border: 1px solid black;
    width: 80px;
    height: 50px;
    background: white;
    display: inline-block;
}

/*
    :nth-child(N)
    :nth-last-child()
    :nth-of-type(N)
    :first-of-type
    :last-of-type
    :only-of-type
    :empty
    :not(S)
    :last-child
    :only-child
    :root
    :enable
    :disable
    :checked

    even/odd pares/impares
*/

/* div p:nth-last-of-type(5){
    background: orange;
} */

div aside:empty{
    background: orange;
}

div article:not(.clase){
    background: orange;
}