article {
    background: khaki;
    font-size: 12px;
}
div{
    width: 200px;
    height: 200px;
    display: inline-block;
    border:1px solid black;
    margin:10px 20px;
}
.decimal{
    /* width: 200px; */
    background: rgb(128,128,128);
}
.decimal_alpha{
    background: rgba(128,128,128,0.2);
}
.porcentaje{
    background: rgb(50%,50%,50%);
}
.hexadecimal{
    background: #777777;
}

.hsl{
    background: hsl(75,75%, 30%);
}

.hsla{
    background: hsl(180,75%, 100%,0.4);
}
/* 
    anchura fija: px

    anchura variable:%
*/

/* 
    HSL

    Hue tono
    Saturation saturacion
    lightness brillo

*/