article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 75%;
    /* margin: 7%; */
    height: 400px;
    font-size: 3em;
    color: white;
}

p{
    background: #088a4b;
    padding-top: 40px;
    text-align: left;
    letter-spacing: -2px;
}

p:first-letter{
    font-size: 5em;
}

p:first-line{
    /* color: blue; */
    font-size: 2em;
    font-weight: bolder;
    font-variant: small-caps;
}