article{
    background: khaki;
    font-size: 12px;
}

a{
    background: white;
    width: 100px;
    height: 50px;
    font-size: 3em;
}
a:link{
    color: red;
}

a:visited{
    color: orange;
}
a:hover{
    font-size: 1.4em;
}

a:active{
    color: transparent;
}