article{
    background: khaki;
    font-size: 12px;
}

div{
    height: 200px;
    width: 90%;
    border: 3px solid black;
    background: white;
    margin-left: 5%;
}

@media screen and (min-width:550px){
    div{
        background:red;
    }
}

@media screen and (min-width:767px){
    div{
        background:green;
        width: 29%;
        margin-left: 3%;
        display: inline-block;
    }
}

@media screen and (min-width:950px){
    div{
        background: blue;
    }
}