article{
    background: khaki;
    font-size: 12px;
}

div{
    width: 75%;
    margin: 7%;
    height: 200px;
    background: #088a4b;
    text-align: center;
    box-shadow: inset 10px 10px 3px gray;
}

p{
    font-size: 3em;
    color: white;
    padding-top:40px;
}