article{
    background: khaki;
    font-size: 12px;
}

div{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    background: white;
    margin: 20px;

    /* transform: scale(1.2); */
    /* transform: skew(-5deg,10deg); */

    /* transform-origin: left top;
    transform: rotate(10deg); */
    /* transform: translateX(10px); */

    transform: rotate(10deg) skew(15deg)
                translate(-5px);
}

