article{
    background: khaki;
    font-size: 12px;
}

div{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    background: white;
    margin: 20px;

    /* transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in; */
    /* 
        transition-property: all;
        transition-duration: time;

        ease
        ease-in
        ease-out
        ease-in-out
    */
    /* transition-delay: 1s; */

    transition: all 0.3s ease 0.2s;
}

div:hover{
    transform: rotate(30deg);
}