article{
    background: khaki;
    font-size: 12px;
    --color-principal:#ff0850;
    --distancia:90px;
}

div{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    background: white;
    background: var(--color-principal);
    margin-top: -moz-calc(var(--distancia)-30px) ;
    position: relative;
    left: -moz-calc(50%-100px);
}